.background {
  viewport-fill: black;
}

#dayLabel {
  x: 68%;
  y: 35%;
  fill: white;
}

#dateLabel {
  x: 29%;
  y: 35%;
  fill: white;
}

#timeLabel {
  x: 23%;
  y: 60%;
  fill: white;
}

#hrHeart {
  x: 37%;
  y: 75%;
  fill: red;
}

#hrLabel {
  x: 52%;
  y: 76%;
  fill: white;
}

